body{
    width: 100%;
}
section.A{background: rgba(73, 72, 72, 0.7) url("./img/vvv.jpg" ) ;
    background-repeat: no-repeat;
   
    background-blend-mode: darken;
    color: white;
    height: 300px;
    background-size: cover;

}
.navd{
    background-color: #47a9ff;
    height: 70px;
}
.brand{font-size: larger;
    color: white;
    font-weight: bolder;
    
}
.navbar-toggler{
    margin-left: 7px;
}

li.one{
    padding-right: 5px;
    margin-top: 25px;

}
li.two{
    padding-right: 5px;
    margin-top: 25px;

}
li.three{
    padding-right: 5px;
    margin-top: 25px;

}
li.four{
    padding-right: 5px;
    margin-top: 25px;

}
.miss{
    visibility:hidden;}
    
ul.bar{display:flex;
    list-style: none;
    margin-top: 25px;
}

span.line
{border-right: 2px solid white;
height: 72px;
position: relative;}
span.line2{
    border-right: 2px solid white;
 height: 86px;
 position: relative;
 bottom: 13px;
}
.greet{
    padding-top: 100px;
}
.search{
    padding: 30px 150px ;
    margin: 0px 150px;
    background-color: white;
    position: relative;
    bottom: 50px;
    box-shadow:-4px 4px 10px rgba(0,0,0,0.7),4px 4px 10px rgba(0,0,0,0.7);
    }

    .form-control{
        border: 1px solid #47a9ff;;
    }

    .searchbtn{
        background-color: #47a9ff;
        border-radius: 5px;
        border: 0px;
        padding: 7px 20px;
        width: 80px;
     }

.floop{
    position: sticky;
    top: 40px;
    z-index: 999;
}

.bigi{
border-bottom:2px solid #47a9ff;
width: 20px;
}

.lanee{
    width: 40px;
    border-bottom: 3px solid #47a9ff;
    display: block;
    margin: auto;
}
 
section.C {
    margin: 20px 60px;
    
}
.control{
    margin-bottom: 40px;
}

figure.boxes{
    margin: 3rem 0rem;
}

.box{
    border: 2px solid #47a9ff;
    border-radius: 5px;
    transition: all;
}

.box:hover .suggestion {
    color: white;
}

.box:hover .num{
    color: white;
}

.box:hover{
    background-color: #47a9ff;
    transition: 0.2s;
}

.suggestion {
    color: #47a9ff;
}


.num {
    margin: 0px 20px;
    color: black;
}
.suites{
    margin: 3vh  25vh;
}

.img-fluid{
    width: 100%;
    height: auto;
   
}
.imgwrap{
    display: block;
}
.imgwrap:hover {
    background-color: black;
    transition: 0.2s;

}
.rooms{
    z-index: 10;
  
}
.rooms:hover {
    opacity: 0.5;
    transition: 0.4s;
}

.discount-container{
    position: absolute;
}
.discount{
    position: relative;
    top: 10px;
    right: 10px;
    background-color:rgb(255, 132, 0);
    color: white;
    width: 10rem;
    padding: 4px;
    z-index: 20;
}
p.hotel-location{
    border-right: 1px solid rgb(161, 161, 161);
    border-left: 1px solid rgb(161, 161, 161);
    border-bottom: 1px solid rgb(161, 161, 161);
    color: #47a9ff;
    background-color: white;
}
.state{
    color: rgb(46, 46, 46);
}
@media screen and (max-width: 1199px) {
    .search{
        padding: 30px 20px ;
        margin: 0px 0px;
        background-color: white;
        position: relative;
        bottom: 50px;
        box-shadow:-4px 4px 10px rgba(0,0,0,0.7),4px 4px 10px rgba(0,0,0,0.7)
          }
          .suites{
            margin: 4vh 2vh;
        }
       
}
@media screen and (max-width: 991px) {


    figure.boxes{
        margin: 3rem 2rem;
    }
   

  
    .navd{
        height: 70px;
    }

    .navbar-toggler{
        margin-top: 25px;
    }

   li.one{
        display: none;
    }
    
    li.four{
        display: none;
    
    }
    span.line{
        border-right: 2px solid white;
      height: 80px;
      position: relative;
    }

    span.line2{
        border-right: 2px solid white;
       height: 94px;
       position: relative;
    }

     .container-fluid{
        height: 60px;
     }
  ul.bar{margin-top: -20px;
    margin-left: 250px;
    margin-right: 5px;

  }
  .brand{
    margin-bottom: 20px;
    position: relative;
    bottom: 4px;
  }
  }
    
    @media screen and (max-width: 772px) {
        .navd{
            background-color:;
            width: 100%;
        }
        .two{
            display: none;
        }
       .navbar-toggler{
    }
    span.line2{
        display: none;
    }
 

}
@media screen and (max-width: 678px) {
    ul.bar{
        margin-top: -20px;   
     position: relative;
     bottom: 55px;
      left: 80px;
      height: 70px;
    }
    .brand{position: relative;
        top: 8px;
       }
        ul.bar{margin-top: -25px;
            
            

        }
        section.A{background: rgba(80, 79, 79, 0.7) url("./img/vvv.jpg" ) ;
            background-repeat: no-repeat;
           
            background-blend-mode: darken;
            color: white;
            height: 250px;
            background-size: cover;
        
        }
     
    }

@media screen and (max-width: 625px) {
    ul.bar{
        margin-top: -20px;   
     position: relative;
     bottom: 60px;
      left: 65px;
      height: 70px;
    }

}

.brand{
    margin-top: 10px;
      }

      @media screen and (max-width: 573px) {
        ul.bar{
            margin-top: -25px;   
         position: relative;
         bottom: 55px;
          left: -80px;
          height: 70px;
        }
     }

.inner{
    background-color: aqua;
    margin-top: 400px;
}

